<a href="https://colab.research.google.com/github/cgarcia-99/Coding-Techniques/blob/main/Simple%20Loop%20Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#I want an output that will return the range from 0-60 in increments of two. Here's how you do it
for i in range(0,61,2):
  """similar to slicing I have a start, end and increment for my range and then plug in i"""
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60